<!DOCTYPE html>
<html ng-app="myTodoApp">
<head>
	<title>Todo List by Angular</title>
	<style type="text/css">
		ul li{list-style: none;}
	   .done-true {
	   	text-decoration: line-through;
	   	color: grey;
	   }
</style>
</head>
<body>
	<div class="wrapper" ng-controller="myTodoCtrl as todoList">		
		<h2>Dreamsmart Like Todo</h2>
		    <span> {{todoList.remaining()}} of {{todoList.todos.length}} remaining</span>
		    [<a href="" ng-click="todoList.archive()"> archive </a>]
			<ul>
				<li ng-repeat="todo in todoList.todos">
					<input type="checkbox" ng-model="todo.done">
					<span class="done-{{todo.done}}">{{todo.text}}</span>
				</li>
			</ul>
		<form ng-submit="todoList.addTodo()">
			<input type="text" ng-model="todoList.todoText" placeholder="add new todo here">
			<input type="submit" value="add">			
		</form>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript">
	var myTodoApp = angular.module('myTodoApp', []);
	myTodoApp.controller('myTodoCtrl', function($scope, $http){

		var todoList = this;
		todoList.todos = [
		 {text:'lorem ipum', done:true},
		 {text:'dollor ismet', done:false}
		];

		todoList.addTodo = function(){
			todoList.todos.push({text:todoList.todoText, done:false});
			todoList.todoText = '';
		};

		todoList.remaining = function(){
			var count = 0;			
			angular.forEach(todoList.todos, function(todo){
				count += todo.done ? 0 : 1;
			});
			return count;
		};

		todoList.archive = function(){
			var oldTodos = todoList.todos;
			todoList.todos = [];
			angular.forEach(oldTodos, function(todo){
				if(!todo.done) todoList.todos.push(todo);
			});
		}
	});
</script>
</body>
</html>