<input class="form-group" type="text" ng-model="projectList.search" class="search-query" id="project_search" placeholder="search">

<table>
	<thead>
		<tr>
			<th>Project</th>
			<th>Description</th>
			<th><a href="#/new">				
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
			</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="project in projectList.projects | filter:projectList.search | orderBy: 'name'">
			<td>
				<a href="{{project.site}}" target="_blank">{{project.name}}</a>
			</td>
			<td>{{project.description}}</td>
			<td>
				 <a ng-href="#/edit/{{project.$id}}">				 	
				 	<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
				 </a>
			</td>
		</tr>
	</tbody>
</table>