<!DOCTYPE html>
<html ng-app>
<head>
	<title>Basic</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>

	<div>
		<label>Name:</label>
		<input type="text" ng-model="yourName">
		<hr/>
		<h1>Hello {{yourName}}</h1>
	</div>

	<br/>
	
	<div ng-init="firstName='Akhmad'">
		<p>The name is {{firstName}}</p>
	</div>

	<br/>
	<hr/>
	<div ng-init="myCol='aqua'">
		<input type="text" style="background-color:{{myCol}}" ng-model="myCol" value="{{myCol}}">
	</div>

	<br/>
	<hr/>
	<div ng-init="qty=5;cost=3">
		<p>Total in dollar: {{qty*cost}}</p>
	</div>

	<br/>

	<div ng-init="person={firstName:'Akhmad', lastName:'Fauzi'}">
		<p>The name is {{person.lastName}}</p>
	</div>

	<br/>

	<div ng-init="point=[2,3,41,3,4]">
		<p>The thrid result is {{point[2]}}</p>		
	</div>

	<br/>

	<div ng-init="angka=[4,2,7,8]">
		<ul>
			<li ng-repeat="a in angka">
				{{a}}
			</li>
		</ul>
	</div>

	<div ng-init="names=['Jani','Hege','Kai']">
		<ul>
			<li ng-repeat="x in names">
			  {{ x }}
			</li>
		</ul>
	</div>

	<br/>
	<div ng-init="karyawan=[
		{no:'909',nama:'Amek',bagian:'IT'},
		{no:'809',nama:'Fauzi',bagian:'GA'},
		{no:'009',nama:'Hasi',bagian:'CO'}
	]">
		<ul>
			<li ng-repeat="k in karyawan">
				{{k.no + ',' + k.nama + ',' + k.bagian }}
			</li>
		</ul>
	</div>
</div>
</body>
</html>