<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Test Module</title>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
</head>
<body>
	<div class="container" ng-controller="myController">
		<label>Masukkan:</label>
		<input type="text" ng-model="pilihlah">
		<ul>
			<li ng-repeat="k in karyawan | filter:pilihlah | orderBy:'bagian'">
				{{k.nama + ',' + k.bagian}}
			</li>
		</ul>

		<h2>{{myUrl}}</h2>
	</div>

<script type="text/javascript">
	var myApp = angular.module('myApp', []);

	myApp.controller('myController', function($scope, $location){
		$scope.karyawan = [
		  {nama:'Akhmad', bagian:'SO'},
		  {nama:'Fauzi', bagian:'IT'},
		  {nama:'Hasibuan', bagian:'GA'}
		];
			//services
		$scope.myUrl = $location.absUrl();
	});
</script>
</body>
</html>