<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Test Simple Service</title>	
</head>
<body>
	<div class="controller" ng-controller="myCtrl">
		<h1>{{myWelcome}}</h1>
		<p>Status: {{statuscode}}</p>
		<p>StatusText: {{statustext}}</p>
	</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
<script type="text/javascript">
	var myApp = angular.module('myApp', []);

	myApp.controller('myCtrl', function($scope,$http){
		$http.get("welcome.html").then(function(response){
			$scope.myWelcome = response.data;
			$scope.statuscode = response.status;
			$scope.statustext = response.statusText;
			console.log(response.headers);
		});
	});
</script>
</body>
</html>