<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>Service parsing json</title>
</head>
<body>
	<div ng-controller="myCtrl">
	 <label>Customer: </label>
	 <input type="text" ng-model="myModel">
		<ul>
			<li ng-repeat="c in customers | filter:myModel | orderBy:'Name'">
				{{c.Name + ',' + c.City}}
			</li>
		</ul>
		<p>Status: {{statuscode}}</p>

	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
	<script type="text/javascript">
		var myApp = angular.module('myApp', []);

		myApp.controller('myCtrl', function($scope, $http){
			$http.get('customers.php')
			.then(function(response){
				$scope.customers = response.data.records;
				$scope.statuscode = response.status;				
			}, function(response){
				//untuk handle error
				$scope.customers = "Error Pulak Lah..!";
			});
		});
	</script>
</body>
</html>